body { background: linear-gradient(-45deg, #4f4789, #000000, #ff00aa, #3b00dd); background-size: 400% 400%; 
  animation: gradientMove 12s ease infinite; font-family: Georgia, serif; }

.container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background:#dbabbe;
  font-family: Georgia, serif;
}

.answer1, .answer2 {
  width: 90%;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
  background:#d6dbd2;
  font-family: Georgia, serif;
}

.button-85 { padding: 0.6em 2em; border: none; outline: none; color: rgb(255, 255, 255); background: #111; cursor: pointer; position: relative; z-index: 0; border-radius: 10px; 
  user-select: none; -webkit-user-select: none; touch-action: manipulation; width: 90%; margin-top: 10px; }
  
.button-85:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  border-radius: 10px;
    font-family: Georgia, serif;
}


@keyframes glowing-button-85 {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
    font-family: Georgia, serif;
}

.button-85 {
  padding: 0.4em 1.2em;
  font-size: 1rem;
  font-family: "Sniglet", sans-serif;
  border: none;
  outline: none;
  color: white;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  margin-top: 10px;
  width: auto;
  display: inline-block;
    font-family: Georgia, serif;
}

.img 
{ width: 400px; height: 400px; border-radius: 10px; }

h1{
   color: #fffefd;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
   text-shadow: 1px 3px 5px rgba(0,0,0,0.7);
     font-family: Georgia, serif;

}

.question{
  color: #06010c;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.7);
    font-family: Georgia, serif;
}


